* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin:0 auto;
}

header {
  height: 20vh;
  width: 100%;
  margin-top: 3vh;
}
#logo{
  height: 10vh;
  line-height: 10vh;
}
ul {
  list-style: none;
}
ul li{
  display: inline-block;
  height: 10vh;
  line-height: 10vh;
  padding-right: 10px;
}
ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: lightgray;
}

section {
  position: relative;
  height: 60vh;
  width: 100%;
  margin:3vh 0;
  border-radius: 15px;
  overflow:hidden;
}
section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section.text{
  position: absolute;
  width:35%;
  bottom:10vh;
  left:5%;
  color: white;
}

.main_header {
  width: 100%;
  margin:20px 0;
}
.main_header p{
  color: lightgray;
}

.main_container {
  width: 100%;
}
.main_container::after {
  content: "";
  display: table;
  clear:both;
}

.maincontent img {
  width: 100%;
  border-radius: 10px;
  height: 30vh;
  object-fit: cover;
}
.maincontent p {
  color: grey;
  margin-top: 5px;
}
.maincontent.right ,
.maincontent.left {
float:left;
width: 20%;
margin-top: 2vh;
margin-bottom: 2vh;
}
.maincontent.center {
  float:left;
  width: calc(60% - 4vh) ;
  margin:2vh;
}

.layover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(40, 40, 40,0.3);
}
.layover-img {
  position: absolute;
  height: 30vh;
  width: 46%;
  background-color: rgb(40, 40, 40,0.3);
  border-radius: 15px;
}
.layover-imgside {
  position: absolute;
  height: 30vh;
  width: calc(20% - 9vh);
  background-color: rgb(40, 40, 40,0.4);
  border-radius: 15px;
}

footer {
  width: 100%;
  margin-top: 1vh;
  text-align: center;
}
